@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --cor0: #3AFF72;
    --cor1: #5BAA71;
    --cor2: #4A554D;
    --cor3: #BF5656;
    --cor4: #FF3333;
    --cor5: #805959;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Mate SC", serif;
    --fonte2: "Oswald", sans-serif;
}

* {
    margin: 0px;
}

body {
    font-family: var(--fonte-padrão);
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 10px;
}

body p {
    text-indent: 25px;
    line-height: 1.2em;
}

header {
    margin: 20px 0px;
}

header h1 {
    font-family: var(--fonte-destaque);
    color: var(--cor1);
    font-weight: normal;
    font-size: 2em;
    text-align: center;
    max-width: 1000px;
    min-width: 200px;
    margin-bottom: 20px;
}

header p {
    font-size: 1.1em;
    padding: 10px;
    margin: 10px;
}

nav {
    padding: 5px;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: var(--cor2);
    padding: 15px;
}

nav a:hover {
    color: var(--cor1);
}

main h2 {
    font-family: var(--fonte2);
    font-weight: normal;
    color: var(--cor3);
    padding: 5px;
}

main h3 {
    font-family: var(--fonte2);
    font-weight: lighter;
    color: var(--cor2);
    text-indent: 20px;
    padding: 1px;
}

main strong {
    color: var(--cor5);
}

main p {
    padding: 5px;
}

main article {
    padding-top: 0px;
}

main article section {
    padding: 10px 0px;
}

article.planos {
    padding: 0px 0px 15px 0px;
}

article.planos#ultimo-plano {
    padding: 0px;
}