@charset "UTF-8";

body {
    background-color: #262626;
}

h1 {
    background-color: #0D0D0D;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

div#main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4343419a;
    width: 1000px;
    padding: 25px;
    margin: auto;
}

div#imagem {
    text-align: center;
}

p {  
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 20px;
}

a {
    font-weight: bold;
    color: #8697A6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a::before {
    content: '\002BA9 ';
}